#sidebar {
    width: 16rem; /* Mantén siempre el ancho fijo */
    height: 100vh; /* Asegúrate de que ocupe toda la altura de la pantalla */
    background-color: #ffffff; /* Fondo */
    position: fixed; /* Para que permanezca en su lugar */
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que esté por encima del contenido */
    transition: none; /* Evita cualquier transición de colapso/despliegue */
}

/* Si existe alguna clase que colapsa el sidebar, remueve o anula su efecto */
.collapsed {
    width: 16rem !important; /* Asegúrate de que no colapse */
}

/* Estilos para el contenido dentro del sidebar */
#sidebar .sidebar a {
    padding: 12px 20px;
    text-decoration: none;
    color: #4A5568;
}

#sidebar .sidebar a:hover {
    background-color: #F7FAFC;
    color: #1A202C;
}
